p{
    margin: 0;
    color: var(--angular-protoweather-on-background);
}

.list-item{
    text-decoration: none;
    display: flex;
    padding: 0 12px;
    align-items: center;
    justify-content: space-between;
    gap: 6px;

    &-text{
        display: flex;
        gap: 6px;
        align-items: center;

        &-icon {
            min-width: 36px;
            min-height: 36px;
            display: flex;
            border-radius: 100%;
            background-color: var(--angular-protoweather-primary-container);
            color: var(--angular-protoweather-primary);
            justify-content: center;
            align-items: center;
        }

        &-name{

            &-description{
                font-size: 14px;
                color: var(--angular-protoweather-primary);
                line-height: 16px;
            }
        }

    }

    &-option{
        color: var(--angular-protoweather-on-background);

        &-select{
            display: flex;
            align-items: center;

            select{
                font-size: 16px;
                border-top-width: 0;
                border-left-width: 0; 
                border-right-width: 0; 
                border-bottom-width: 0;
                appearance: none;
                text-indent: 0;
                padding: 6px 6px;
                font-family: 'Poppins';
                outline: none;
                color: inherit;
                background-color: var(--angular-protoweather-background);
                text-align: end;
                border-radius: 6px;
            }

        }

        

        &-icon, .list-item-route-icon{
            font-size: 12px;
            margin-top: 4px;
        }
    }
}

@media (min-width: 600px){


    .list-item-option{
        select{
            border-right-width: 6px;
            border-right-color: var(--angular-protoweather-background);
            appearance: auto;
            text-align: start;
        }

        &-icon{
            display: none;
        }
    }
}