.wrapper{
    padding: 12px 12px 0px 12px;
}

.list{
    list-style-type: none;
    border-radius: 0;
    margin: -12px 0 0 0;
    padding: 0;
    width: 100%;
    .list-item{
        padding: 16px 16px;
        width: 100%;
        display: block;
        box-sizing: border-box;
        text-decoration: none;

        p{
            margin: 0;
        }

    }

    .separator:last-child {
        display:none;
      }
}