.wrapper{
    padding: 12px 0 83px 0;
    box-sizing: border-box;
}

.recent-title{
    padding: 6px 12px;
    font-size: 12px;
    color: var(--angular-protoweather-on-primary-container-alt);
}

.title-searchbar{
    padding: 0 12px;
    box-sizing: border-box;
}

.search-bar{
    z-index: 1;
    position: relative;
}
.list-item-wrapper{
    display: flex;
    align-items: center;
}

.list{
    list-style-type: none;
    border-radius: 0;
    margin: -12px 0 0 0;
    padding: 0;
    width: 100%;

    .icon-button{
        background-color: transparent;
        border: none;

        .icon{
            margin: 12px;
            font-size: 20px;
            width: 12px;
        }
    }

    .list-item{
        padding: 14px 0;
        width: 100%;
        display: block;
        box-sizing: border-box;
        text-decoration: none;
        height: 48px;
        overflow: hidden;
        color: var(--angular-protoweather-on-primary-container);
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;

        p{
            margin: 0;
        }

    }

    .recent-icon{
        color: var(--angular-protoweather-on-primary-container);
        padding: 0 12px;
    }

    .separator:last-child {
        display:none;
      }
}

.empty-state{
    width: 100%;
    padding: 114px 12px 71px 12px;
    top: 50%;
    box-sizing: border-box;
    transform: translate(0%, -50%);
    position: absolute;
}

@media (min-width: 600px){
    .wrapper{
        padding: 12px 0 0 88px;
    }

    .empty-state {
        max-width: 450px;
        padding: 114px 0 0 88px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}