.wrapper{
    margin: 18px 0 83px 0;
}

.recent-title{
    padding: 6px 12px;
    font-size: 12px;
    color: var(--angular-protoweather-on-primary-container-alt);
}

.title-searchbar{
    padding: 0 12px;
    box-sizing: border-box;
}
.list-item-wrapper{
    display: flex;
    align-items: center;
}

.list{
    list-style-type: none;
    border-radius: 0;
    margin: -12px 0 0 0;
    padding: 0;
    width: 100%;

    .list-item{
        padding: 14px 0;
        width: 100%;
        display: block;
        box-sizing: border-box;
        text-decoration: none;
        height: 48px;
        overflow: hidden;
        color: var(--angular-protoweather-on-primary-container);
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;

        p{
            margin: 0;
        }

    }

    .recent-icon{
        color: var(--angular-protoweather-on-primary-container);
        padding: 0 12px;
    }

    .separator:last-child {
        display:none;
      }
}

@media (min-width: 600px){
    .wrapper{
        margin: 18px 12px 12px 12px;
    }

    .title-searchbar{
        padding: 0px;
        box-sizing: border-box;
    }

}