.wrapper {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    height: 100%;
    background-color: var(--angular-protoweather-surface-2);
}

.nav-button{
    width: 100%;
}