<div class="dialog">
    <div class="dialog-top">
      <i class="dialog-top-icon fa-solid fa-warning"></i>
      <h4 class="dialog-top-title">{{data.titleDialogText}}</h4>
    </div>
    <div class="dialog-body">
      <p class="dialog-body-text">{{data.bodyDialogText}}</p>
    </div>
    <div class="dialog-buttons">
      <button pw-text-button class="dialog-buttons-button" color="primary" (click)="closeDialog()">{{data.cancelButtonText}}</button>
      <button pw-flat-button class="dialog-buttons-button" color="error" (click)="closeDialog(true)">{{data.okButtonText}}</button>
    </div>
  </div>