<div class="wrapper">
	<app-back-title [includeBack]="true"></app-back-title>
	<p class="logo-text">Protoweather</p>
	<p class="grey-text"> version 1.2 </p>
	<img src="../../../../assets/logo_colored.svg" class="brand-logo">

	<p class="grey-text">2023 Jhon Noriega</p>

	<div class="credits-section">
		<p class="section">
			<span class="title">Información del clima:</span>
			<a class="url" href="https://open-meteo.com/en" target="_blank">https://open-meteo.com/en</a>
		</p>

			<p class="section">
			<span class="title">Información de las ciudades:</span>
			<a class="url" href="https://nominatim.org/" target="_blank">https://nominatim.org/</a>
		</p>

			<p class="section">
			<span class="title">Ilustraciones:</span>
			<a class="url" href="https://undraw.co/" target="_blank">https://undraw.co/</a>
		</p>

			<p class="section">
			<span class="title">Iconos: </span>
			<a class="url" href="https://fontawesome.com/" target="_blank">https://fontawesome.com/</a>
			<a class="url" href="https://www.amcharts.com/free-animated-svg-weather-icons/" target="_blank">https://www.amcharts.com/free-animated-svg-weather-icons/</a>
		</p>
	</div>
</div>