.wrapper{
    background-color: var(--pw-surface-1);
    height: 100vh;
}

.card{
    padding: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-around;
    background-color: var(--pw-background);
    align-content: center;
}

.location-buttons{
    margin-bottom: 120px;
}

.cancel-button {
    font-size: 16px;
    color: var(--pw-primary);
    background-color: var(--pw-background);
    border: none;
    position: fixed;
    bottom: 24px;
    right: 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 0;
}

.cancel-button::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--pw-primary);
    opacity: 0;
    border-radius: 12px;
}

.cancel-button:hover::after{
    opacity: 0.08;
}

.cancel-button:active::after{
    opacity: 0.12;
}

@media(min-width: 600px){
    .card {
        position: relative;
        background-color: var(--pw-background);
        top: 50%;
        width: 570px;
        margin: auto;
        max-height: 500px;
        border-radius: 12px;
        transform: translate(0px, -50%);
        padding: 12px 100px;
    }

    .location-buttons{
        margin-bottom: 0;
    }

    .cancel-button {
        position: relative;
        top: 12px;
    }
}