<div [ngStyle]="{'background-color': weatherCodeData.backgroundColor, 'color': weatherCodeData.textColor}" class="wrapper">
    <div class="place-name">
        <div class="place-name-container">
            <i class="icon-small fa-solid fa-map-marker-alt"></i>
            <span>{{place}}</span>
            <div [ngStyle]="{'background-color': weatherCodeData.textColor}" class="place-name-container-background"></div>
        </div>
        <button class="icon-favorite-button" *ngIf="!isDefaultLocation" (click)="toggleFavorite()">
            <i [ngStyle]="{'color': weatherCodeData.textColor}" class="favorite-button-icon" [ngClass]="favoriteIconStatus"></i>
            <div [ngStyle]="{'background-color': weatherCodeData.textColor}" class="icon-favorite-button-background"></div>
        </button>
    </div>
    <div class="temperature-status">
        <div class="temperature">
            <p>{{temperature | number:'1.0-0'}}</p>
            <span>°c</span>
        </div>
        <div class="weather-status">
            <p>{{weatherCodeData.description}}</p>
        </div>
    </div>
    <div class="bottom-content">
        <div class="bottom-info-item">
            <i class="icon-small fa-solid fa-air-freshener"></i>
            <span class="info-value">{{humidity}}%</span>
        </div>
        <div class="bottom-info-item">
            <i class="icon-small fa-solid fa-cloud-rain"></i>
            <span class="info-value">{{precipitation}} mm</span>
        </div>
        <div class="bottom-info-item">
            <i class="icon-small fa-solid fa-radiation-alt"></i>
            <span class="info-value">{{radiation}} W/m²</span>
        </div>
    </div>
    <a [ngStyle]="{'color': weatherCodeData.textColor}" class="credits-text" href="https://open-meteo.com/" target="_blank">Datos del clima por Open-Meteo.com</a>
</div>
