<div class="wrapper">
    <div class="place-name">
        <div class="place-name-container">
            <mat-icon class="icon-small">pin_drop</mat-icon>
            <span>{{place}}</span>
        </div>
        <button *ng-if="!isDefaultLocation" mat-icon-button (click)="toggleFavorite()">
            <mat-icon>{{favoriteIconStatus}}</mat-icon>
        </button>
    </div>
    <div class="temperature-status">
        <div class="temperature">
            <p>{{temperature | number:'1.0-0'}}</p>
            <span>°c</span>
        </div>
        <div class="weather-status">
            <p>{{weatherCodeData.description}}</p>
        </div>
    </div>
    <div class="bottom-content">
        <div class="bottom-info-item">
            <mat-icon class="icon-small">square</mat-icon>
            <span class="info-value">{{humidity}}%</span>
        </div>
        <div class="bottom-info-item">
            <mat-icon class="icon-small">square</mat-icon>
            <span class="info-value">{{precipitation}} mm</span>
        </div>
        <div class="bottom-info-item">
            <mat-icon class="icon-small">square</mat-icon>
            <span class="info-value">{{radiation}} W/m²</span>
        </div>
    </div>
</div>
