.stars {
    top: 0;
    left: 0;
    position: absolute;
    width: 200%;
    height: 100%;
    background-size: 326px;
    background-image: url('/assets/weather_backgrounds/stars.webp');
    animation: fadeIn 500ms 1 linear, starsMove 200s infinite linear;

    &-6{
        filter: opacity(60%);
    }
}
@keyframes starsMove {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(-326px, 0, 0); }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}