$container-width: 1436px;
$thin-cloud-1-start: 0px;
$thin-cloud-2-start: -653px;
$normal-cloud-1-start: -1250px;
$normal-cloud-2-start: -610px;
$large-cloud-1-start: 0px;
$large-cloud-2-start: -755px;


.cloud{
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: contain;
    background-repeat: no-repeat;

    &-0{filter: brightness(60%) sepia(70%) hue-rotate(550deg);}
    &-1{filter: brightness(60%) sepia(70%) hue-rotate(550deg);}
    &-2{filter: brightness(60%) sepia(70%) hue-rotate(550deg);}
    &-3{filter: brightness(60%) sepia(70%) hue-rotate(550deg);}
    &-4{filter: brightness(60%) sepia(70%) hue-rotate(550deg);}
    &-5{filter: brightness(60%) sepia(70%) hue-rotate(550deg);}
    &-6{filter: brightness(70%) sepia(100%) hue-rotate(296deg);}
    &-7{filter: brightness(300%) sepia(0%) hue-rotate(0);}
    &-8{filter: brightness(300%) sepia(0%) hue-rotate(0);}
    &-9{filter: brightness(300%) sepia(0%) hue-rotate(0);}
    &-10{filter: brightness(300%) sepia(0%) hue-rotate(0);}
    &-11{filter: brightness(300%) sepia(0%) hue-rotate(0);}
    &-12{filter: brightness(300%) sepia(0%) hue-rotate(0);}
    &-13{filter: brightness(300%) sepia(0%) hue-rotate(0);}
    &-14{filter: brightness(300%) sepia(0%) hue-rotate(0);}
    &-15{filter: brightness(300%) sepia(0%) hue-rotate(0);}
    &-16{filter: brightness(300%) sepia(0%) hue-rotate(0);}
    &-17{filter: brightness(70%) sepia(100%) hue-rotate(340deg);}
    &-18{filter: brightness(70%) sepia(100%) hue-rotate(340deg);}
    &-19{filter: brightness(60%) sepia(70%) hue-rotate(550deg);}
    &-20{filter: brightness(60%) sepia(70%) hue-rotate(550deg);}
    &-21{filter: brightness(60%) sepia(70%) hue-rotate(550deg);}
    &-22{filter: brightness(60%) sepia(70%) hue-rotate(550deg);}
    &-23{filter: brightness(60%) sepia(70%) hue-rotate(550deg);}

    &-thin{
        width: 853px;
        height: 310px;
        background-image: url('../../../../assets/weather_backgrounds/thin-cloud.png');
        animation-name: thinCloudMovement;

        &-1{
            top: -111px;
            left: $thin-cloud-1-start;
            animation-duration: 120s;

            &-loop{
                left: $thin-cloud-1-start + $container-width;
            }
        }

        &-2{
            top: -139px;
            left: $thin-cloud-2-start;
            animation-duration: 120s;

            &-loop{
                left: $thin-cloud-2-start + $container-width;
            }
        }
    }

    &-normal{
        width: 363px;
        height: 190px;
        background-image: url('../../../../assets/weather_backgrounds/cloud.png');
        animation-name: cloudMovement;

        &-1{
            top: -31px;
            left: $normal-cloud-1-start;
            animation-duration: 118s;

            &-loop{
                left: $normal-cloud-1-start + $container-width;
            }
        }

        &-2{
            top: -81px;
            left: $normal-cloud-2-start;
            animation-duration: 121s;

            &-loop{
                left: $normal-cloud-2-start + $container-width;
            }
        }
    }

    &-large{
        width: 853px;
        height: 310px;
        background-image: url('../../../../assets/weather_backgrounds/long-cloud.png');
        animation-name: largeCloudMovement;

        &-1{
            top: -111px;
            left: $large-cloud-1-start;
            animation-duration: 120s;

            &-loop{
                left: $large-cloud-1-start + $container-width;
            }
        }
        &-2{
            top: -120px;
            left: $large-cloud-2-start;
            animation-duration: 120s;

            &-loop{
                left: $large-cloud-2-start + $container-width;
            }
        }
    }
}

@keyframes thinCloudMovement {
    from{
        transform: translateX(-853px); 
    }

    to{
        transform: translateX(-853px + $container-width);
    }
}

@keyframes cloudMovement {
    from{
        transform: translateX(-363px); 
    }

    to{
        transform: translateX(-363px + $container-width);
    }
}

@keyframes largeCloudMovement {
    from{
        transform: translateX(-853px); 
    }

    to{
        transform: translateX(-853px + $container-width);
    }
}