$container-width: 1436px;
$thin-cloud-1-start: 0px;
$thin-cloud-2-start: -653px;
$normal-cloud-1-start: -1250px;
$normal-cloud-2-start: -610px;
$large-cloud-1-start: 0px;
$large-cloud-2-start: -755px;


.cloud{
    position: absolute;
    filter: brightness(3);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-size: contain;
    background-repeat: no-repeat;

    &-thin{
        width: 853px;
        height: 310px;
        background-image: url('../../../../assets/weather_backgrounds/thin-cloud.png');
        animation-name: thinCloudMovement;

        &-1{
            top: -111px;
            left: $thin-cloud-1-start;
            animation-duration: 120s;

            &-loop{
                left: $thin-cloud-1-start + $container-width;
            }
        }

        &-2{
            top: -139px;
            left: $thin-cloud-2-start;
            animation-duration: 120s;

            &-loop{
                left: $thin-cloud-2-start + $container-width;
            }
        }
    }

    &-normal{
        width: 363px;
        height: 190px;
        background-image: url('../../../../assets/weather_backgrounds/cloud.png');
        animation-name: cloudMovement;

        &-1{
            top: -31px;
            left: $normal-cloud-1-start;
            animation-duration: 118s;

            &-loop{
                left: $normal-cloud-1-start + $container-width;
            }
        }

        &-2{
            top: -81px;
            left: $normal-cloud-2-start;
            animation-duration: 121s;

            &-loop{
                left: $normal-cloud-2-start + $container-width;
            }
        }
    }

    &-large{
        width: 853px;
        height: 310px;
        background-image: url('../../../../assets/weather_backgrounds/long-cloud.png');
        animation-name: largeCloudMovement;

        &-1{
            top: -111px;
            left: $large-cloud-1-start;
            animation-duration: 120s;

            &-loop{
                left: $large-cloud-1-start + $container-width;
            }
        }
        &-2{
            top: -120px;
            left: $large-cloud-2-start;
            animation-duration: 120s;

            &-loop{
                left: $large-cloud-2-start + $container-width;
            }
        }
    }
}

@keyframes thinCloudMovement {
    from{
        transform: translateX(-853px); 
    }

    to{
        transform: translateX(-853px + $container-width);
    }
}

@keyframes cloudMovement {
    from{
        transform: translateX(-363px); 
    }

    to{
        transform: translateX(-363px + $container-width);
    }
}

@keyframes largeCloudMovement {
    from{
        transform: translateX(-853px); 
    }

    to{
        transform: translateX(-853px + $container-width);
    }
}