<div class="wrapper">
	<pw-sky-gradient [isCloudy]="weatherCodeData.isCloudy" [actualHour]="setHour()"></pw-sky-gradient>
	<pw-clouds *ngIf="weatherCodeData.cloudLevel > 0" [isCloudy]="weatherCodeData.isCloudy" [cloudsLevel]="weatherCodeData.cloudLevel" [actualHour]="setHour()"></pw-clouds>
	<pw-stars *ngIf="(setHour() > 17 || setHour() < 7) && !weatherCodeData.isCloudy" [actualHour]="setHour()"></pw-stars>
	<pw-sun *ngIf="(setHour() > 7 && setHour() < 17) && weatherCodeData.isShowingSun"></pw-sun>
	<pw-rain *ngIf="weatherCodeData.isRain"></pw-rain>
</div>
