
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 425px;
    margin: 0 auto;
}

.illustration{
    margin: 0 auto 32px auto;
    height: 150px;
}

.text, .or-text, .title{
    text-align: center;
}

.title, .text{
    margin: 0 0 12px 0;
}
