.flat-button{
	border: none;
    background-color: var(--pw-surface-5);
    color: var(--pw-on-primary-container);

	&::after{
		background-color: var(--pw-on-primary-container);
	}

	&-primary{
		background-color: var(--pw-primary);
		color: var(--pw-on-primary);

		&::after{
			background-color: var(--pw-on-primary);
		}
	}

	&-error{
		background-color: var(--pw-error);
		color: var(--pw-on-error);

		&::after{
			background-color: var(--pw-on-error);
		}
	}

	&:disabled{
		color: var(--pw-disabled-content);
		background-color: var(--pw-disabled-container);
	}
}