.text-button{
	border: none;
	color: var(--pw-on-background);
	background-color: transparent;

	&::after{
		background-color: var(--pw-on-background);
	}

	&-primary{
		color: var(--pw-primary);

		&::after{
			background-color: var(--pw-primary);
		}
	}

	&-error{
		color: var(--pw-error);

		&::after{
			background-color: var(--pw-error);
		}
	}

	&:disabled{
		color: var(--pw-disabled-content);
	}
}