<div class="wrapper">
    <div class="top">
        <img class="illustration" src="../../../../assets/location-1.svg" alt="">
        <h4 class="title">¡Bienvenido a ProtoWeather!</h4>
        <p class="text">Selecciona una ubicación por defecto para mostrar en la pagina de inicio</p>
    </div>
    <div class="bottom">
        <button class="mat-body-2" mat-flat-button color="primary">Detectar mi ubicación</button>
        <p class="or-text">o</p>
        <button mat-stroked-button>Seleccionar una ubicacion manualmente</button>
    </div>
</div>