.rain{
    background-image: url('/assets/weather_backgrounds/rain.webp');
    position: absolute;
    top: -337px;
    left: 0;
    width: 100%;
    height: 674px;
    animation: fadeIn 500ms 1 linear, rainFall 600ms infinite linear;
    filter: brightness(140%) opacity(50%);
}

@keyframes rainFall {
    from{ transform: translate3d(0, 0, 0) }
    to{ transform: translate3d(0, 160px, 0) }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}