
.sky-gradient {
  height: 100%;
}

/* Gradients */
.sky-gradient-0, .sky-gradient-24 { background: linear-gradient(180deg, #1A2545 0%, #2A3350 100%); }
.sky-gradient-1 { background: linear-gradient(to bottom, #1A2343 2.6%, #2B344E 100%); }
.sky-gradient-2 { background: linear-gradient(to bottom, #1A2443 0%, #2B344D 100%); }
.sky-gradient-3 { background: linear-gradient(to bottom, #1B2543 73.44%, #2A344D 100%); }
.sky-gradient-4 { background: linear-gradient(to bottom, #1B2543 70.31%, #334062 89.58%, #656E87 100%); }
.sky-gradient-5 { background: linear-gradient(180deg, #40405C 54.17%, #6F71AA 100%); }
.sky-gradient-6 { background: linear-gradient(to bottom, #6897CB 0%, #82ADDB 29.17%, #DC89AA 85.94%, #EBC2D3 100%); }
.sky-gradient-7 { background: linear-gradient(180deg, #98E0FF 65.62%, #FFC6C5 100%); }
.sky-gradient-8 { background: linear-gradient(to bottom, #83DAFD 30.21%, #86DAFE 100%); }
.sky-gradient-9 { background: linear-gradient(to bottom, #86DDFF 29.69%, #65D3FF 99.48%); }
.sky-gradient-10 { background: linear-gradient(to bottom, #92E0FF 26.56%, #46CAFF 84.9%); }
.sky-gradient-11 { background: linear-gradient(to bottom, #90DFFE 9.9%, #59CAFA 66.67%); }
.sky-gradient-12 { background: linear-gradient(to bottom, #6DDCFF 9.38%, #54CCFF 65.1%); }
.sky-gradient-13 { background: linear-gradient(to bottom, #1EBDFF 61.46%, #59CEFF 100%); }
.sky-gradient-14 { background: linear-gradient(to bottom, #1EBDFF 64.06%, #88DCFF 91.67%); }
.sky-gradient-15 { background: linear-gradient(to bottom, #0EB8FF 36.46%, #6DD4FF 82.29%); }
.sky-gradient-16 { background: linear-gradient(to bottom, #1EBDFF 50%, #89D8F9 88.54%, #FFD6BF 100%); }
.sky-gradient-17 { background: linear-gradient(to bottom, #1EBDFF 0%, #AB9CBE 55.21%, #FFD873 100%); }
.sky-gradient-18 { background: linear-gradient(180deg, #3D5EB1 2.6%, #A47DBC 36.46%, #FFA944 84.37%, #FFBE25 100%); }
.sky-gradient-19 { background: linear-gradient(180deg, #1C2343 0%, #25294E 71.87%, #7C5138 100%); }
.sky-gradient-20 { background: linear-gradient(to bottom, #141E3D 50%, #2C3D6C 100%); }
.sky-gradient-21 { background: linear-gradient(to bottom, #141E3D 5.73%, #2B3B6A 100%); }
.sky-gradient-22 { background: linear-gradient(to bottom, #1B274D 0%, #30406C 100%); }
.sky-gradient-23 { background: linear-gradient(to bottom, #1D294D 5.73%, #313E63 100%); }