.sun {
    background-repeat: no-repeat;
    background-image: url('/assets/weather_backgrounds/sun.webp');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: 640px;
    background-position-x: center;
    background-position-y: -179px;
    filter: brightness(110%);
    height: 100%;
}