.sun {
    background-repeat: no-repeat;
    background-image: url('/assets/weather_backgrounds/sun.webp');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: 640px;
    background-position-x: center;
    background-position-y: -179px;
    filter: brightness(110%);
    height: 100%;
    opacity: 0;
    
    &.loaded {
        opacity: 1;
        animation: fadeIn 500ms 1 linear;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
