input[type="checkbox"] {
    appearance: none;
    min-height: 24px;
    min-width: 48px;
    border-radius: 16px;
    overflow: hidden;
    background-color: var(--pw-disabled-content);
    //transition: 0.2s;
    display: flex;
    align-items: center;
    padding: 0 3px;

    &::after {
	    content: "";
	    background-color: var(--pw-disabled-container);
	    width: 18px;
	    border-radius: 100%;
	    height: 18px;
	    align-items: initial;
	    transform: translate3d(0px, 0px, 0px);
	    //transition: 0.2s;
    }
}


input[type="checkbox"]:checked {
	background-color: var(--pw-primary);

	&::after {
	    transform: translate3d(24px, 0px, 0px);
	    background-color: var(--pw-primary-container);
	}
}