<div class="wrapper" *ngIf="!isSearchingLocation">
    <button class="primary-btn filled-btn" (click)="getLocation()">Detectar mi ubicación</button>
    <p class="or-text">o</p>
    <button class="primary-btn outlined-btn" (click)="openSetLocationDialog()">Seleccionar una ubicacion manualmente</button>
</div>

<div *ngIf="isSearchingLocation" class="wrapper">
    <mat-progress-spinner diameter="40" class="progress" color="primary" mode="indeterminate"></mat-progress-spinner>
    <p class="mat-body-2">Buscando ubicación</p>
</div>