<div class="wrapper">
    <h2>Favoritos</h2>
    <p class="caption mat-caption">Lugar predeterminado</p>
    <ul class="list">
        <a mat-ripple class="place-card mat-card">
            <div class="place-name-weather-code-icon">
                <p class="place-name mat-h2">Cartagena</p>
                <img class="weather-code-icon" src="../../../../assets/weather-sun.svg" alt="">
            </div>
            <div class="weather-code-name-temperature">
                <p class="weather-code-name">Sky clear</p>
                <p class="temperature">35ºC</p>
            </div>
        </a>
    </ul>

    <p class="caption mat-caption">Lugares favoritos</p>
    <ul class="list">
        <a mat-ripple class="place-card mat-card" *ngFor="let favoritePlace of favoritePlaces" [routerLink]="['/forecast/', favoritePlace.placeId]">
            <div class="place-name-weather-code-icon">
                <p class="place-name mat-h2">{{favoritePlace.name}}</p>
                <img class="weather-code-icon" src="../../../../assets/weather-sun.svg" alt="">
            </div>
            <div class="weather-code-name-temperature">
                <p class="weather-code-name">Sky clear</p>
                <p class="temperature">35ºC</p>
            </div>
        </a>
    </ul>
</div>