.wrapper {
    margin: 12px 12px 71px 12px;

    p {
        margin: 0;
    }

    .place-subtitle-caption{
        color: var(--angular-protoweather-on-primary-container);
        margin-bottom: 12px;
    }

    .default-places-title{
        display: flex;
        align-items: center;

    }

    .no-default-location {
        margin-bottom: 12px;
    }

    .favorite-card{
        margin-bottom: 24px;
        display: block;
    }

    .caption{
        margin-bottom: 12px;
    }

    .default-place-card{
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px;
        box-sizing: border-box;
        border-radius: 12px;
        text-decoration: none;
        height: 50px;
        gap: 6px;
        margin-bottom: 16px;
    }

    .list {
        list-style-type: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        margin: 0 0 24px 0;

        .add-place-card {
            border-radius: 12px;
            color: rgb(0 0 0 / 50%);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 46px;
            background-color: transparent;
            box-shadow: none;
            border: dashed 1px rgb(0 0 0 / 25%);
            cursor: pointer;
        }
    }
}

@media (min-width: 600px) {
    .wrapper{
        margin: 12px 12px 12px 100px;
    }
}

@media (min-width: 813px){
    .wrapper{
        .list{
            display: flex;
            flex-wrap: wrap;
        }
    }
}
