.wrapper {
    padding: 12px 12px 56px 12px;

    p {
        margin: 0;
    }

    .default-places-title{
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 6px;

    }

    .no-default-location {
        margin-bottom: 12px;
    }

    .caption{
        margin-bottom: 12px;
    }

    .default-place-card{
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px;
        box-sizing: border-box;
        border-radius: 12px;
        text-decoration: none;
        height: 50px;
        gap: 6px;
        margin-bottom: 16px;
    }

    .list {
        list-style-type: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-direction: column;
        gap: 12px;
        margin: 0 0 24px 0;

        .place-card {
            overflow: hidden;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 12px;
            box-sizing: border-box;
            border-radius: 12px;
            text-decoration: none;
            height: 50px;
            gap: 6px;

            div {
                display: flex;
                justify-content: space-between;
                gap: 6px;
            }

            .place-name {
                overflow: hidden;
                width: 100%;
                max-height: 64px;
                text-overflow: ellipsis;
            }

            .weather-code-icon {
                width: 90px;
                display: none;
            }

            .weather-code-name {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .temperature {
                width: 42px;
            }
        }

        .add-place-card {
            border-radius: 12px;
            color: rgb(0 0 0 / 50%);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 46px;
            background-color: transparent;
            box-shadow: none;
            border: dashed 1px rgb(0 0 0 / 25%);
            cursor: pointer;
        }
    }
}