.wrapper {
    padding: 12px 12px 71px 12px;

    p {
        margin: 0;
    }

    .page-title{
        color: var(--pw-on-background);
    }

    .place-subtitle-caption{
        color: var(--pw-on-primary-container);
        margin-right: 6px;
    }

    .default-places-title{
        display: flex;
        align-items: center;
        margin: 6px 0;
        height: 32px;
    }

    .favorite-card{
        margin-bottom: 24px;
        display: block;
    }

    .list {
        list-style-type: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        margin: 0 0 24px 0;
    }
}

@media (min-width: 600px) {
    .wrapper{
        padding: 12px 12px 12px 100px;
    }
}

@media (min-width: 813px){
    .wrapper{
        .list{
            display: flex;
            flex-wrap: wrap;
        }
    }
}
