<app-wrapper-header text="Esta semana"></app-wrapper-header>
<div class="wrapper">
    <ul class="list mat-card">
        <div *ngFor="let forecastDay of forecastDays; let lastItem = last;">
        <li class="list-item">
            <div class="day-wrapper">
                <p>{{forecastDay.weekDayName}}</p>
                <p class="mat-body-2">{{forecastDay.weekDayDate}}</p>
            </div>
            <p class="temperature mat-h2">{{forecastDay.maxTemperature | number:'1.0-0'}}ºc</p>
            <img class="weather-code-icon" [src]=forecastDay.weatherCodeIconURL alt="">
        </li>
        <mat-divider *ngIf="!lastItem" class="separator"></mat-divider>
        </div>
    </ul>
</div>