<app-wrapper-header text="Esta semana"></app-wrapper-header>
<div class="wrapper">
    <ul class="list mat-card">
        <li class="list-item">
            <div class="day-wrapper">
                <p>Hoy</p>
                <p class="mat-body-2">Junio 11</p>
            </div>
            <p class="temperature mat-h2">21ºc</p>
            <img class="weather-code-icon" src="../../../../assets/weather-sun.svg" alt="">
        </li>
        <mat-divider class="separator"></mat-divider>
        <li class="list-item">
            <div class="day-wrapper">
                <p>Hoy</p>
                <p class="mat-body-2">Junio 11</p>
            </div>
            <p class="temperature mat-h2">21ºc</p>
            <img class="weather-code-icon" src="../../../../assets/weather-sun.svg" alt="">
        </li>
        <mat-divider class="separator"></mat-divider>
        <li class="list-item">
            <div class="day-wrapper">
                <p>Hoy</p>
                <p class="mat-body-2">Junio 11</p>
            </div>
            <p class="temperature mat-h2">21ºc</p>
            <img class="weather-code-icon" src="../../../../assets/weather-sun.svg" alt="">
        </li>
        <mat-divider class="separator"></mat-divider>
        <li class="list-item">
            <div class="day-wrapper">
                <p>Hoy</p>
                <p class="mat-body-2">Junio 11</p>
            </div>
            <p class="temperature mat-h2">21ºc</p>
            <img class="weather-code-icon" src="../../../../assets/weather-sun.svg" alt="">
        </li>
        <mat-divider class="separator"></mat-divider>
        <li class="list-item">
            <div class="day-wrapper">
                <p>Hoy</p>
                <p class="mat-body-2">Junio 11</p>
            </div>
            <p class="temperature mat-h2">21ºc</p>
            <img class="weather-code-icon" src="../../../../assets/weather-sun.svg" alt="">
        </li>
        <mat-divider class="separator"></mat-divider>
    </ul>
</div>