.wrapper{
    padding: 0 12px;
    margin: 12px 0;

    .list{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 12px 0;
        border-radius: 12px;
        box-sizing: border-box;
        margin: 0;
        gap: 18px;
        
        .list-item{
            display: flex;
            align-items: center;
            height: 50px;
            gap: 6px;
            padding: 0 12px;

            p{
                margin: 0;
            }


            .day-wrapper{
                width: 100%;

                .forecast-week-day{
                    color: var(--angular-protoweather-on-primary-container);
                }

                .forecast-date{
                    font-size: 12px;
                    color: var(--angular-protoweather-on-primary-container-alt);
                }
            }
            .weather-code-icon{
                width: 52px;
            }

            .temperature{
                font-size: 20px;
                font-weight: 600;
                color: var(--angular-protoweather-on-primary-container);
            }

        }
    }
}

@media (min-width: 825px){
    .app-card{
        background-color: var(--angular-protoweather-background);
    }
}

