.brand-logo {
	display: block;
	margin: 24px auto;
	width: 100px;
}

p{
	margin: 0;
	text-align: center;
	color: var(--angular-protoweather-on-background);
}

.logo-text {
	font-weight: 600;
	text-align: center;
	margin: 42px 0 0 0;
	font-size: 20px
}

.grey-text{
	color: var(--angular-protoweather-on-primary-container-alt);
}