<app-actual-weather
    *ngIf="!isLoading"
    [weatherCode]="forecastData.hourly.weathercode[actualHourIndex]"
    [place]="placeName"
    [temperature]="forecastData.hourly.temperature_2m[actualHourIndex]"
    [humidity]="forecastData.hourly.relativehumidity_2m[actualHourIndex]"
    [precipitation]="forecastData.hourly.precipitation[actualHourIndex]"
    [radiation]="forecastData.hourly.shortwave_radiation[actualHourIndex]">
</app-actual-weather>
<app-next-hour-weather 
    *ngIf="!isLoading"
    [actualHourIndex]="actualHourIndex"
    [temperatures]="forecastData.hourly.temperature_2m"
    [weatherTimes]="forecastData.hourly.time"
    [weatherCodes]="forecastData.hourly.weathercode">
</app-next-hour-weather>
<app-actual-weather-info
    *ngIf="!isLoading"
    [weatherPressure]="forecastData.hourly.surface_pressure[actualHourIndex]"
    [weatherDewpoint]="forecastData.hourly.dewpoint_2m[actualHourIndex]">
</app-actual-weather-info>
<app-weather-sunset-info
    *ngIf="!isLoading"
    [sunsetTime]="forecastData.daily.sunset[0]"
    [sunriseTime]="forecastData.daily.sunrise[0]">
</app-weather-sunset-info>
<app-wind-info
    *ngIf="!isLoading"
    [windDirectionAngle]="forecastData.hourly.winddirection_10m[actualHourIndex]"
    [windSpeed]="forecastData.hourly.windspeed_10m[actualHourIndex]">
</app-wind-info>
<app-weather-week-info
    *ngIf="!isLoading"
    [weekDays]="forecastData.daily.time"
    [weekMaxTemperature]="forecastData.daily.temperature_2m_max"
    [weekWeatherCode]="forecastData.daily.weathercode">
</app-weather-week-info>