.container{
    padding: 18px 0 83px 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.error-state{
    width: 100%;
    padding: 0 12px 71px 12px;
    top: 50vh;
    box-sizing: border-box;
    transform: translate(0%, -50%);
    position: absolute;
}

.left-side{
    width: 100%;
    min-width: 320px;
}

.search-bar{
    padding: 0 12px;
    box-sizing: border-box;
    display: block;
    position: relative;
    z-index: 1;
}

.right-side{
    max-width: 360px;
    min-width: 360px;
    margin: 0 12px 0 0;
}

.right-side-background{
    background-color: var(--pw-surface-1);
    padding: 1px;
    border-radius: 12px;
}

.forecast-info-grid{
    display: block;
}

.actual-day{
    p{
        margin:0;
        text-align: end;
        font-weight: 600;
        font-size: 20px;
        color: var(--pw-on-background);
    }
    //margin: 0 12px 12px 12px;
}

.link-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;

}

.credits-text{
    text-align: right;
    font-size: 12px;
    text-decoration: none;
    padding: 0 12px;
    color: var(--pw-on-background);
}

@media (min-width: 600px){
    .container{
        padding: 18px 0 12px 88px;
    }

    .error-state {
        max-width: 450px;
        padding: 0 0 0 88px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

@media (min-width: 825px){
    .wrapper{
        flex-direction: row;
    }
}

@media (min-width: 1183px){
    .forecast-info-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .sunset-info{
        grid-area: 1/2/3/2;
    }
}

@media (min-width: 1880px){
    .forecast-info-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}