.wrapper{
    padding: 18px 0 83px 0;
    display: flex;
    flex-direction: column;
}

.no-default-location{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 130px;
}

.loading-icon-text{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 200px;
}

.loading-text{
        text-align: center;
        font-size: 18px;
        color: white;
        font-weight: 500;
        margin-top: -18px;
}

.loading-icon {
    margin: auto;
    width: 130px;
    display: block;
}

.black-screen{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    z-index: -2;
}

.left-side{
    width: 100%;
    min-width: 320px;
}

.right-side{
    max-width: 360px;
    min-width: 320px;
}

.forecast-info-grid{
    display: block;
}

@media (min-width: 600px){
    .wrapper{
        padding: 18px 0 12px 88px;
    }

}

@media (min-width: 824px){
    .wrapper{
        flex-direction: row;
    }
}

@media (min-width: 1183px){
    .forecast-info-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .sunset-info{
        grid-area: 1/2/3/2;
    }
}

@media (min-width: 1880px){
    .forecast-info-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}