.wrapper{
    padding: 18px 0 83px 0;
    display: flex;
    flex-direction: column;
}

.error-state{
    width: 100%;
    padding: 0 12px 71px 12px;
    top: 50%;
    box-sizing: border-box;
    transform: translate(0%, -50%);
    position: absolute;
}

.left-side{
    width: 100%;
    min-width: 320px;
}

.search-bar{
    padding: 0 12px;
    box-sizing: border-box;
    display: block;
}

.primary-btn{
    background-color: var(--angular-protoweather-primary);
    color: var(--angular-protoweather-on-primary);
    outline: none;
    border: none;
    padding: 12px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 12px;
    width: 100%;
}

.right-side{
    max-width: 360px;
    min-width: 360px;
}

.forecast-info-grid{
    display: block;
}

.actual-day{
    p{
        margin:0;
        text-align: end;
        font-weight: 600;
        font-size: 20px;
    }
    margin: 0 12px 12px 12px;
}

@media (min-width: 600px){
    .wrapper{
        padding: 18px 0 12px 88px;
    }

    .error-state {
        max-width: 450px;
        padding: 0 0 0 88px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

@media (min-width: 824px){
    .wrapper{
        flex-direction: row;
    }
}

@media (min-width: 1183px){
    .forecast-info-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .sunset-info{
        grid-area: 1/2/3/2;
    }
}

@media (min-width: 1880px){
    .forecast-info-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}