<div class="wrapper" *ngIf="!isLoading && !isError">
    <div class="left-side">
        <app-actual-weather
        [weatherCode]="forecastData.hourly.weathercode[actualHourIndex]"
        [place]="placeName"
        [temperature]="forecastData.hourly.temperature_2m[actualHourIndex]"
        [humidity]="forecastData.hourly.relativehumidity_2m[actualHourIndex]"
        [precipitation]="forecastData.hourly.precipitation[actualHourIndex]"
        [radiation]="forecastData.hourly.shortwave_radiation[actualHourIndex]"
        [placeCode]="placeCode"
        [isDefaultLocation]="isDefaultLocation">
        
    </app-actual-weather>
    <app-next-hour-weather 
        [actualHourIndex]="actualHourIndex"
        [temperatures]="forecastData.hourly.temperature_2m"
        [weatherTimes]="forecastData.hourly.time"
        [weatherCodes]="forecastData.hourly.weathercode">
    </app-next-hour-weather>
    <app-actual-weather-info
        [weatherPressure]="forecastData.hourly.surface_pressure[actualHourIndex]"
        [weatherDewpoint]="forecastData.hourly.dewpoint_2m[actualHourIndex]">
    </app-actual-weather-info>
    <app-weather-sunset-info
        [sunsetTime]="forecastData.daily.sunset[0]"
        [sunriseTime]="forecastData.daily.sunrise[0]">
    </app-weather-sunset-info>
    <app-wind-info
        [windDirectionAngle]="forecastData.hourly.winddirection_10m[actualHourIndex]"
        [windSpeed]="forecastData.hourly.windspeed_10m[actualHourIndex]">
    </app-wind-info>
    </div>
    <div class="right-side">
        <app-weather-week-info
        [weekDays]="forecastData.daily.time"
        [weekMaxTemperature]="forecastData.daily.temperature_2m_max"
        [weekWeatherCode]="forecastData.daily.weathercode">
    </app-weather-week-info>
    </div>


</div>
<div class="no-default-location" *ngIf="isError">
    <app-nolocation-warning [title]=warningInfo.title [message]=warningInfo.message [imageURL]=warningInfo.imageURL></app-nolocation-warning>
    <app-nolocation-buttons *ngIf="!isDefaultLocationSet" (errorLocation)="showLocationErrorMessage($event)" (locationFound)="reloadHome()"></app-nolocation-buttons>
</div>