.wrapper {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    height: 100%;
    background-color: var(--pw-surface-2);
}

.nav-button{
    width: 100%;
}

@media (min-width: 600px){
    .wrapper{
        flex-direction: column;
        justify-content: flex-start;
        gap: 24px;
        padding: 24px 0;
    }

    .hidden-in-desktop{
        display: none;
    }
}