.icon {
    margin-right: 14px;
    margin-left: 6px;
    color: var(--pw-primary);
}

p {
    margin: 0;
}

.title {
    font-size: 12px;
    margin-bottom: 4px;
    color: var(--pw-primary)
}

.text {
    font-size: 20px;
    font-weight: 600;
    color: var(--pw-on-primary-container)
}

.wrapper{
    display: flex;
    align-items: center;   
}
