<app-wrapper-header text="Salida y puesta de sol"></app-wrapper-header>
<div class="wrapper">
    <div class="app-card">
        <div class="sun-section">
            <img class="sun-image" src="../../../../assets/weather-sun.svg" alt="">
            <div class="sun-info">
                <p class="sun-text mat-body-2">Amanecer</p>
                <p class="sun-time mat-h2">{{sunriseTime}}</p>
            </div>
        </div>
        <div class="sun-section">
            <img class="sun-image" src="../../../../assets/weather-sun.svg" alt="">
            <div class="sun-info">
                <p class="sun-text mat-body-2">Atardecer</p>
                <p class="sun-time mat-h2">{{sunsetTime}}</p>
            </div>
        </div>
    </div>
</div>