.navbar{
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 71px;
    z-index: 2;
}

@media (min-width: 600px){
    .navbar{
        height: 100%;
        width: 88px;
        left: 0;
    }
}