.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
}

.dialog-buttons{
    display: flex;
    width: 100%;
    gap: 6px;
    justify-content: flex-end;
}

.dialog-button{
    width: 100%;
}

.primary-btn{
    background-color: var(--angular-protoweather-primary);
    color: var(--angular-protoweather-on-primary);
    outline: none;
    padding: 8px 12px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 12px;
    height: 40px;
    position: relative;
}

.filled-btn{
    border: none;
}

.filled-btn::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--angular-protoweather-on-primary);
    opacity: 0;
    border-radius: 12px;
}

.filled-btn:hover::after{
    opacity: 0.08;
}

.filled-btn:active::after{
    opacity: 0.12;
}

.outlined-btn{
    background-color: var(--angular-protoweather-background);
    color: var(--angular-protoweather-primary);
    border: 1px solid var(--angular-protoweather-primary);
}

.outlined-btn::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--angular-protoweather-primary);
    opacity: 0;
    border-radius: 12px;
}

.outlined-btn:hover::after{
    opacity: 0.08;
}

.outlined-btn:active::after{
    opacity: 0.12;
}

@media (min-width: 600px) {
    .dialog-buttons{
        justify-content: flex-end;
    }

    .dialog-button{
        width:  auto;
    }
}