.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
    position: relative;
    background-color: var(--pw-surface-1);
    color: var(--pw-on-background);
}

.dialog-buttons{
    display: flex;
    width: 100%;
    gap: 6px;
    justify-content: flex-end;
    position: fixed;
    padding: 24px 12px;
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    margin-bottom: env(keyboard-inset-height);
}

[data-stickto] {
    position: fixed;
}

[data-stickto="bottom"] {
    bottom: 0;
    background: green;
}

.dialog-button{
    width: 100%;
}

@media (min-width: 600px) {
    .dialog-buttons{
        justify-content: flex-end;
    }

    .dialog-buttons {
        justify-content: flex-end;
        padding: 0;
        position: static;
    }
}