
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './app/button/styles/button.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./assets/fonts/Poppins/Poppins-Medium.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-protoweather-primary: mat.define-palette(mat.$indigo-palette);
$angular-protoweather-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-protoweather-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-protoweather-theme: mat.define-light-theme((
  color: (
    primary: $angular-protoweather-primary,
    accent: $angular-protoweather-accent,
    warn: $angular-protoweather-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-legacy-component-themes($angular-protoweather-theme);

/* You can add global styles to this file, and also import other style files */

:root {
  --angular-protoweather-primary: #0061A5;
  --angular-protoweather-on-primary: #F2F7FA;
  --angular-protoweather-primary-container: #D2E4FF;
  --angular-protoweather-on-primary-container: #001C37;
  --angular-protoweather-on-primary-container-alt: #788799;

  --angular-protoweather-background: #FDFBFF;
  --angular-protoweather-on-background: #001B3D;

  --angular-protoweather-surface-1: #F0F3FA;
  --angular-protoweather-on-surface-1: #001B3D;
  --angular-protoweather-surface-2: #E9EFF8;

  --angular-protoweather-error: #BA1A1A;
  --angular-protoweather-on-error: #FFFFFF;
  --angular-protoweather-error-container: #FFDAD6;
  --angular-protoweather-on-error-container: #410002;

  --angular-protoweather-invert-surface: #001b3d;
  --angular-protoweather-invert-on-surface: #d6e3ff;

  --angular-protoweather-disabled-content: #8b97a6;
  --angular-protoweather-disabled-container: #e0e3e7;

}

html, body { height: 100%; }
body { margin: 0; font-family: "Poppins", "Helvetica Neue", sans-serif; }
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input, button{
  font-family: "Poppins", "Helvetica Neue", sans-serif;
}

.app-background{
  background-color: var(--angular-protoweather-background);
}

.app-card{
  background-color: var(--angular-protoweather-surface-1);
}

.app-snackbar{
  background-color: var(--angular-protoweather-invert-surface);
  color: var(--angular-protoweather-invert-on-surface);
  margin-bottom: 76px !important;
}

@media (min-width: 600px){
  .app-snackbar{
    margin-bottom: 10px !important;
  }
}