
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './app/ui/button/styles/button.scss';
@use './app/ui/toggle/styles/toggle.scss';

@include mat.all-legacy-component-typographies();
@include mat.legacy-core();
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins/Poppins-Regular.woff2);
  unicode-range: U+00-7F, U+80-FF;
}

$angular-protoweather-primary: mat.define-palette(mat.$indigo-palette);
$angular-protoweather-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$angular-protoweather-warn: mat.define-palette(mat.$red-palette);

$angular-protoweather-theme: mat.define-light-theme((
  color: (
    primary: $angular-protoweather-primary,
    accent: $angular-protoweather-accent,
    warn: $angular-protoweather-warn,
  )
));

@include mat.all-legacy-component-themes($angular-protoweather-theme);

$angular-protoweather-dark-theme: mat.define-dark-theme((
  color: (
    primary: $angular-protoweather-primary,
    accent: $angular-protoweather-accent,
    warn: $angular-protoweather-warn,
  )
));

/* You can add global styles to this file, and also import other style files */

:root {
  color-scheme: light;
  --pw-primary: #0061A5;
  --pw-on-primary: #F2F7FA;
  --pw-primary-container: #D2E4FF;
  --pw-on-primary-container: #001C37;

  --pw-background: #FDFBFF;
  --pw-on-background: #001B3D;

  --pw-surface-1: #f0f3fa;
  --pw-surface-2: #e9eff8;
  --pw-surface-3: #e1eaf5;
  --pw-surface-4: #dfe9f4;
  --pw-surface-5: #dae5f2;

  --pw-error: #BA1A1A;
  --pw-on-error: #FFFFFF;
  --pw-error-container: #FFDAD6;
  --pw-on-error-container: #410002;

  --pw-invert-surface: #001b3d;
  --pw-invert-on-surface: #d6e3ff;

  --pw-disabled-content: #8b97a6;
  --pw-disabled-container: #e0e3e7;

}

.dark-theme{
  @include mat.all-legacy-component-colors($angular-protoweather-dark-theme);
  color-scheme: dark;
  --pw-primary: #9fcaff;
  --pw-on-primary: #003259;
  --pw-primary-container: #00497e;
  --pw-on-primary-container: #d2e4ff;

  --pw-background: #001b3d;
  --pw-on-background: #d6e3ff;

  --pw-surface-1: #082447;
  --pw-surface-2: #0d294d;
  --pw-surface-3: #112e52;
  --pw-surface-4: #133054;
  --pw-surface-5: #163358;

  --pw-error: #ffb4ab;
  --pw-on-error: #690005;
  --pw-error-container: #93000a;
  --pw-on-error-container: #ffdad6;

  --pw-invert-surface: #fdfbff;
  --pw-invert-on-surface: #001b3d;

  --pw-disabled-content: #486b95;
  --pw-disabled-container: #133054;
}

.black-theme{
  @include mat.all-legacy-component-colors($angular-protoweather-dark-theme);
  color-scheme: dark;
  --pw-primary: #9fcaff;
  --pw-on-primary: #2c2c2c;
  --pw-primary-container: #00497e;
  --pw-on-primary-container: #ffffff;

  --pw-background: #000000;
  --pw-on-background: #ffffff;

  --pw-surface-1: #0a0a0a;
  --pw-surface-2: #101010;
  --pw-surface-3: #161616;
  --pw-surface-4: #181818;
  --pw-surface-5: #1e1e1e;

  --pw-error: #ffb4ab;
  --pw-on-error: #690005;
  --pw-error-container: #93000a;
  --pw-on-error-container: #ffdad6;

  --pw-invert-surface: #fdfbff;
  --pw-invert-on-surface: #001b3d;

  --pw-disabled-content: #747474;
  --pw-disabled-container: #1f1f1f;
}

[data-color-scheme="dark"] {
  color-scheme: dark;
}

[data-color-scheme="light"] {
  color-scheme: light;
}

*{ font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif }
body { margin: 0 }
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Scrollbar*/
*::-webkit-scrollbar {
    background-color: var(--pw-background);
    width: 16px;
} 

*::-webkit-scrollbar-track {
    background-color: var(--pw-background);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--pw-surface-5);
    border-radius: 16px;
    border: 6px solid var(--pw-background);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--pw-disabled-content);
    border: 4px solid var(--pw-background);
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--pw-on-primary-container);
}
/*------                     scrollbar                ---------*/

.app-background{
  background-color: var(--pw-background);
}

.app-card{
  background-color: var(--pw-surface-1);
}

.app-snackbar{
  background-color: var(--pw-invert-surface);
  color: var(--pw-invert-on-surface);
  margin-bottom: 76px !important;
}

@media (min-width: 600px){
  .app-snackbar{
    margin-bottom: 10px !important;
  }
}