.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin: auto;
    background-color: unset;
    height: 100%;
    justify-content: center;
    color: var(--angular-protoweather-on-primary-container);
    position: relative;
}

.active{
    color: var(--angular-protoweather-primary);
}

.icon-container-active, .wrapper::after{
    content: "";
    width: 50%;
    z-index: 1;
    border-radius: 12px;
    height: 24px;
    position: absolute;
    bottom: 33px;
}

.icon-container-active{
    background-color: var(--angular-protoweather-primary-container);
    opacity: 1;
}

.wrapper:hover::after {
    background-color: var(--angular-protoweather-on-primary-container);
    opacity: 0.08;
}

.text{
    font-size: 12px;
    margin-top: 4px;
}

.icon{
    z-index: 2;
}

.text-active{
    font-weight: 600;
}

@media (min-width: 600px) {
    .icon-container-active, .wrapper::after{
        width: 60%;
        bottom: 17px;
    }
}