<div class="wrapper">
    <h2 class="page-title">Ajustes</h2>

    <div class="list">
    	<app-settings-list-item 
            [icon]="optionsItems[0].icon"
            [title]="optionsItems[0].title"
            [description]="optionsItems[0].description"
            [optionsList] = "optionsItems[0].optionsList"
            [selectedValue]="optionsItems[0].selectedValue"
            (onChange)="changeTheme($event)">
        </app-settings-list-item>

        <app-settings-list-item
            [url]="optionsItems[1].route"
            [icon]="optionsItems[1].icon"
            [title]="optionsItems[1].title"
            [description]="optionsItems[1].description"
            [optionsList] = "optionsItems[1].optionsList"
            [selectedValue]="optionsItems[1].selectedValue">
        </app-settings-list-item>
    </div>    
</div>

